@model AuthenticationApiSolution.Models.Authentication.SignInModel

@{
    ViewData["Title"] = "Home Page";
}

rc="~/images/minerva.png" alt="" />-->

<div class="container">
    <div id="box" class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="log-login center-me" src="~/images/minerva.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
            <h2>Intranet CREA-SP</h2>
            <label class="sr-only">Username</label>
            <input type="text" class="form-control" placeholder="Usuário" asp-for="UserName" />

            <label class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="Senha" asp-for="Password" />


            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
            @{
                if (ViewData["MensagemRetorno"] != null)
                {
                    <div><strong><font color="Red">@ViewData["MensagemRetorno"]</font></strong></div>
                }
                @if (!ViewContext.ModelState.IsValid)
                {
                    <div asp-validation-summary="All" class="form-validation myvalidation"></div>
                }
            }
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->
<!--   <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>-->
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 class="text-warning" id="myModalLabel">Antenção</h3>
    </div>
    <div class="modal-body">
        <p class="text-warning"><strong> Navegador não compativel com a Intranet - Favor utilizar Google Chrome, Mozilla Firefox ou Microsft Edge</strong></p>
    </div>
    <div class="modal-footer">

    </div>
</div>




@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  // If Internet Explorer, return version number
            {
                $('#myModal').modal('show');
                var x = document.getElementById("box");
                x.style.display = "none";
            }
        });
    </script>
}






